{% extends 'layout.twig' %}

{% block head %}<title>Connexion</title>{% endblock %}


{% block content %}

<form method=post action='index.php'>
  <div class="rating">
    <input type="radio" id="star5" name="rating" value="5" {{rating[5]}}/>
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" {{rating[4]}}/>
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" {{rating[3]}}/>
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" {{rating[2]}}/>
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" {{rating[1]}}/>
    <label for="star1" title="text">1 star</label>
  </div>
<label for='content'></label>
    <textarea name="content" rows="10" cols="200">{{review.content}}</textarea>
    <input type='hidden' name='date'>
    <input type="hidden" name='action' value='createReview'>
    <input type="hidden" name='controller' value='review'>
    <input type="hidden" name='idMovie' value={{idMovie}}>
    <input type="submit" value="Valider" class="btn btn-primary mt-2">
</form> 


{% endblock %}