{% extends 'layout.twig' %}

{% block head %}<title>{{movie.title}}</title>{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <img src="" id='poster'>
      <h1 class='movie' id={{idMovie}}><span id='title'><span></h1>
      <p>Date de sortie : <span id='releaseDate'></span></p>
      <p>Genre : <span id='genres'></span></p>
      <p>Synopsis : <span id='overview'></span></p>
      <p>moyenne des avis : {{averageRating}}</p>
      </div>
  </div>
</div>
    

{% if reviews is defined %}
    <h2>Avis</h2>
            <div class="container">

          <div class="row">
            <div class="col-12">
    {% for review in reviews %}
    <div class="card mb-4 box-shadow">
    <p>Laissé par {{review.userLogin}} le {{review.date}}</p>
      <div class="rating">
        {% for i in 1..5 %}
          {% set starClass = (review.rating >= i ? "fas fa-star" : "far fa-star")  %}
            <i class="{{ starClass }}"></i>
          {% endfor %}
      </div>
      <p>{{review.pseudo}}<br/>{{review.content}}<br/><a href="review/reportReview/{{review.id}}">signaler le commentaire</a></p>
    </div>
    {% endfor %}
    </div>
    </div>
    </div>
{% endif %}
{% if reviews is null %}
      <p>Pas encore d'avis sur ce film</p>
{% endif %}


{% if user != null  and commentAllowed == true %}
<div class='container'>
<div class='row'>
<form method=post action='index.php' class='col-lg-12 text-center'>
  <div class="rating text-center">
    <input type="radio" id="star5" name="rating" value="5" {{rating[5]}}/>
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" {{rating[4]}}/>
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" {{rating[3]}}/>
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" {{rating[2]}}/>
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" {{rating[1]}}/>
    <label for="star1" title="text">1 star</label>
  </div>

<label for='content' class='text-center col-lg-12'>Mon avis sur le film</label>
    <textarea name="content" rows="10" class='col-lg-12'>{{review.content}}</textarea>
    <input type="hidden" name='action' value='sendModifyReview'>
    <input type="hidden" name='controller' value='review'>
    <input type="hidden" name='id' value={{review.id}}>
    <input type="submit" value="Valider" class="btn btn-primary mt-2">
</form> 
</div>
</div>

{% elseif user != null  and commentAllowed == false %}
<p> Vous avez déja laissé un commentaire </p>
{% else %}
<p> Vous devez être connecté pour laisser un avis <a href="Connection">Se connecter</a></p>
{% endif %}


  <script src="public/js/details.js"></script>
  <script src="public/js/detailsMain.js"></script>

{% endblock %}