{% extends 'layout.twig' %}

{% block head %}<title>{{movie.title}}</title>{% endblock %}

{% block content %}
    <img src="" id='poster'>
    <h1 class='movie' id={{idMovie}}><span id='title'><span></h1>
    <p>Date de sortie : <span id='releaseDate'></span></p>
    <p>Genre : <span id='genres'></span></p>

{% if reviews is defined %}
    <h2>Derniers Avis</h2>
    {% for review in reviews %}
      <div class="rating">
        {% for i in 1..5 %}
          {% set starClass = (review.rating >= i ? "fas fa-star" : "far fa-star")  %}
            <i class="{{ starClass }}"></i>
          {% endfor %}
      </div>
      <p>{{review.pseudo}}<br/>{{review.content}}<br/><a href="review/reportReview/{{review.id}}">signaler le commentaire</a></p>
    {% endfor %}
              {% if user is null %}
              <p> Vous devez être connecté pour laisser un avis <a href="Connection">Se connecter</a></p>
            {% else %}
                <a href='Review/newReview/{{idMovie}}'>Laisser un avis</a>
            {% endif %}
{% endif %}
{% if reviews is null %}
      <p>Pas encore d'avis sur ce film</p>
            {% if user is null %}
              <p> Vous devez être connecté pour laisser un avis <a href="Connection">Se connecter</a></p>
            {% else %}
                <a href='Review/newReview/{{idMovie}}'>Laisser un avis</a>
            {% endif %}
{% endif %}
  <script src="public/js/details.js"></script>
  <script src="public/js/detailsMain.js"></script>

{% endblock %}