{% extends 'layout.twig' %}

{% block head %}<title>Accueil</title>{% endblock %}


{% block content %}
    <h1 id="pageTitle"></h1>
    <div class="col-12 mb-5" id="sortBy">
      <div class="dropdown">
      <span>Trier par : </span></i>
        <button class="btn btn-secondary dropdown-toggle " type="button" data-toggle="dropdown"><span class={{orderBy['parameter']}} id="orderBy">{{orderBy['label']}}</span></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="Movie/lastMovies">Le Plus récent</a>
          <a class="dropdown-item" href="Movie/orderByReviews">Avis le plus récent</a>
          <a class="dropdown-item" href="Movie/orderByPopularity">Le plus populaire</a>
        </div>
      </div>
    </div>
    <div class="container">
    {% include 'thumbnails.twig' %}

        <div class="col-12 mb-3">
        <div class="text-center">
          {% if page > 1 %}
            <a class="" id="prvPage" href="Movie/{{orderBy['action']}}/{{page - 1}}">Précédent</a>
    <a class="" id="prvPageIndex" href="">{{page - 1}}</a>
          {% endif %}
          <a class="" disabled id="pageIndex">{{page}}</a>
          <a class="" id="prvPageIndex" href="">{{page + 1}}</a>
          <span id='indexDots'>...</span>
          <a class="" id='lastPageIndex'></a>
          <a class="" id="nxtPage" href="Movie/{{orderBy['action']}}/{{page + 1}}">Suivant</a>
        </div>
        </div>
    </div>
  <script src="public/js/homeMain.js"></script>
{% endblock %}